@charset "UTF-8";
/* CSS Document */

#wrap {
	background-color: #808080;
	position: relative;

	padding-bottom: 10px;
}
body {
	background-color: rgba(255,255,79,1.00);
}
footer {
	background-color: rgba(255,255,79,1.00);
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
header {
	text-align: center;
}
p {
	text-align: center;
}
.line {
	position: relative;
	width: 748px;
	height: 187px;
	margin: 0 auto;
}
.left {
	position: absolute;
	width: 374px;
	height: 187px;
}
.right {
	position: absolute;
	width: 374px;
	height: 187px;
	left: 374px;
}

.itemL {
	position: absolute;
}
.itemL .star {
	left: 0px;
	top: 0px;
	z-index: 1;
	position: absolute;
}
.itemL .contents {
	width: 187px;
	height: 187px;
	left: 0px;
	top: 0px;
	z-index: 0;
	position: absolute;
}

.itemR {
	position: absolute;
	left: 187px;
}
.itemR .text {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 147px;
	height: 147px;
}
